<router-outlet></router-outlet>

<!-- <div class="container">
    <button class="btn btn-primary">Hello</button><br>
    <input type="range" min="1" max="50" value="{{ limit }}" 
    class="slider form-control-range"
    (change)="handleSlideChange($event.target.value)"
    ><br>
    {{ limit }}<br>
    <button class="btn btn-info" (click)="generate()" >Generate Words</button>
    <div class="card" >
        <div *ngIf="words" class="card-body">
            <p class="display-4">
                {{ words }}
            </p>
        </div>
    </div>
  </div> -->